.search {
    margin: 0 auto;
    

    .search__input-container {
        display: flex;
        height: 50px;
        width: 100%;
        padding: 5px 15px;
        border-radius: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        
        .search__input {
            font-size: 1.5em;
            width: 100%;
            outline: none;
            border: none;
            padding: 0 10px;
        }

        .search__button {
            background-color: inherit;
            outline: none;
            cursor: pointer;
            padding: 0;
            border: none;
            margin-left: 10px;

            .button__icon {
                width: 30px;
                height: 30px;
            }
        }
    }
    .search-controllers {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-size: 1.5rem;

        .order-params {
            margin-left: 10px;
        }
        
        .search__categories,
        .order-params {
            font-size: 1.5rem;
        }

        @media (max-width: 649px) {
            .search__categories {
                margin-bottom: 10px;
            }
        }

        
    }
}

@media (max-width: 400px) {
    .search {
        .search__input-container {
            height: 35px;
            margin-bottom: 20px;

            .search__input {
                font-size: 1em;
            }

            .search__button {
                .button__icon {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    } 
    .search {
        .search-controllers {
            font-size: 1rem;
    
            .search__categories,
            .order-params {
                font-size: 1rem;
            }
        }
    }
}

