.book-preview {
    width: 100vw;
    position: sticky;
    bottom: 0;
    left: 0;
    height: calc(100vh - 34vh);
    background-color: #fff;
    text-align: right; 
    overflow-y: auto;
    padding-bottom: 70px;

    .preview__close {
        margin-right: 0;
        margin: 20px;
        padding: 5px 7px;    
        border: none;    
        border-radius: 50%;
        background-color: inherit;
        cursor: pointer;
        transition: background-color transform 200ms linear;

        img {
            height: 10px;
            width: 13px;
        }

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(1.1);
            background-color: lightblue;
        }
    }

    .preview {
        display: flex;
        text-align: left;
        width: 100%;
        justify-content: center;
        padding: 0 0 10px;

        .preview__thumbnail > img {
            height: 500px;
        }

        .info {
            margin-left: 100px;
            min-width: 320px;

            &__categories {
                font-weight: 300;
            }

            &__title {
                font-weight: 700;
                font-size: 2rem;
            }

            &__authors {
                text-decoration: underline;
                font-weight: 300;
            }

            &__description {
                border: 1px solid lightgrey;
                padding: 15px;
                border-radius: 5px;
                max-width: 600px;
            }
        }
    }
}

@media (max-width: 838px) {
    .book-preview > .preview {
        flex-direction: column;
        align-items: center;

        .info {
            margin: 0;
            padding: 0 10px;

            .info__description {
                max-width: 400px;
            }
        } 
    }
}

@media (max-width: 415px) {
    .book-preview > .preview > .preview__thumbnail > img {
        height: 300px;
    }
}

@media (max-width: 400px) {
    .book-preview {
        height: calc(100vh - 30vh);

    }
}